/*
    Document   : custom.css
    Created on : 16 juin 2012, 07:50:56
    Author     : jean-cedric
    Description:
        Adding custom, context-dependent, properties.
*/

html {
  -webkit-font-smoothing: antialiased;
/*    overflow-y: scroll;*/
}

/* bicubic resizing for non-native sized IMG:
code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

#validate{
  float: right;
}

